.App{
  text-align: center;
}

.cardbox{
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 280px);
  justify-content: center;
}

.card{
  background-color: rgb(43, 70, 43);
  color: white;
  border-radius: 5%;
  margin-top:0;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 200px;
}

h1{
  text-transform: uppercase;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 40px;
}

h2{
  margin:5px;
}

span{
  color: rgb(249, 219, 142);
}

p{
  color:beige
}
.cardInfo{
  border: 1px solid white;
  border-radius: 10%;
  padding: 10px;
  margin: 0.5px;
  text-align: left;
}